@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: var(--font-noto-sans);

    --color-neutral-900: hsl(227, 75%, 14%);
    --color-neutral-800: hsl(226, 25%, 17%);
    --color-neutral-700: hsl(225, 23%, 24%);
    --color-neutral-600: hsl(226, 11%, 37%);
    --color-neutral-300: hsl(0, 0%, 78%);
    --color-neutral-200: hsl(217, 61%, 90%);
    --color-neutral-100: hsl(0, 0%, 93%);
    --color-neutral-0: hsl(200, 60%, 99%);

    --color-red-400: hsl(3 86% 64%);
    --color-red-500: hsl(3, 71%, 56%);
    --color-red-700: hsl(3, 77%, 44%);

    --background-image-gradient-light: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --background-image-gradient-dark: linear-gradient(180deg, #040918 0%, #091540 100%);

    --text-body: 16px;
}

@layer base {
    body {
        font-family: var(--font-sans);
        background-color: var(--color-neutral-100);
        color: var(--color-neutral-900);
        font-size: var(--text-body);
        min-height: 100vh;
        background-attachment: fixed;
        transition: all 0.3s ease-in-out;
    }

    .dark body {
        background-color: var(--color-neutral-900);
        color: var(--color-neutral-0);
    }
}